@import url("https://fonts.googleapis.com/css2?family=Honk&family=Monoton&family=Oswald:wght@200..700&family=Rubik+Doodle+Shadow&family=Rubik+Maps&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Bungee+Shade&display=swap");

@import "tailwindcss";

@theme {
  --font-honk: "Honk", sans-serif;
  --font-monoton: "Monoton", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-rubik-doodle-shadow: "Rubik Doodle Shadow", sans-serif;
  --font-rubik-maps: "Rubik Maps", sans-serif;
  --font-big-shoulders-inline: "Big Shoulders Inline", sans-serif;
  --font-bungee-shade: "Bungee Shade", sans-serif;
}

@layer utilities {
  .font-honk {
    font-family: var(--font-honk);
  }
  .font-monoton {
    font-family: var(--font-monoton);
  }
  .font-oswald {
    font-family: var(--font-oswald);
  }
  .font-rubik {
    font-family: var(--font-rubik-doodle-shadow);
  }
  .font-maps {
    font-family: var(--font-rubik-maps);
  }
  .font-shoulders {
    font-family: var(--font-big-shoulders-inline);
  }
  .font-bungee {
    font-family: var(--font-bungee-shade);
  }
  @keyframes fade-slide {
    0%,
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
    10%,
    90% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-slide {
    animation: fade-slide 3s ease-in-out;
  }
}

@layer base {
  html,
  body {
    @apply m-0 bg-gradient-to-br from-pink-500 to-orange-500 min-h-screen bg-scroll;
  }
  .navbarsolution {
    /* @apply font-oswald px-3 py-2 text-lg text-transparent bg-clip-text bg-gradient-to-br to-orange-500 transition transform hover:scale-110 active:bg-transparent active:text-white rounded-md; */
    @apply font-oswald px-3 py-2 text-lg text-transparent bg-clip-text bg-gradient-to-br from-pink-500 to-orange-500 transition transform hover:scale-110 active:bg-transparent active:text-white rounded-md cursor-pointer;
  }
  .landingbuttonsolution {
    @apply mt-4 block bg-gradient-to-br from-pink-500 to-orange-500 text-white font-bold px-6 py-3 rounded-full shadow-md hover:bg-pink-800 focus:outline-none transition-colors duration-200 cursor-pointer;
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
}

.breathe {
  animation: breathe 2.5s ease-in-out infinite;
}
